body {
  overflow-x: hidden;
}

.bg {
  background: url(./Assets/bg.png) no-repeat center center;
  background-size: cover;
}

.bg-1 {
  background: url(./Assets/bg-1.png) #D7F8FA no-repeat center center;
  background-size: cover;
}

.title {
  font-size: 3.5rem;
}

.purple {
  color: #4D3F9E;
}

.principal{
  background: #37DBE4 !important;
  border: #37DBE4 !important;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 100%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
