.bg {
  background: url(./Assets/bg.png) no-repeat center center;
  background-size: cover;
}

.bg-1 {
  background: url(./Assets/bg-1.png) #D7F8FA no-repeat center center;
  background-size: cover;
}

.title {
  font-size: 3.5rem;
}

.purple {
  color: #4D3F9E;
}
